.communityLinks {
	display: grid;
	grid-gap: 1rem;
	margin: 15px 0px;

	& .linkItem {
		display: grid;
		grid-auto-flow: column;
		//grid-template-columns: 2fr 4fr;

		& .button {
			display: grid;
			justify-items: start;
			align-items: center;
			justify-content: start;
		}

		& .label {
			display: grid;
			justify-items: end;
			align-items: center;
		}
	}
}
