.navbar {

	height: 75px;
	width: 100%;
	padding: 0px 30px 0px 30px;
	z-index: var(--navbarZIndex);

	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 0.5fr 10fr 0.5fr;
	align-items: center;
	grid-gap: 0px;

	@media (max-width: 600px) {
		grid-template-columns: 1fr 8fr 1fr;
	}

	&.darkTheme {
		color: var(--c_light);
		background: var(--c_dark);
		// box-shadow: var(--boxShadowDarkTheme);
	}

	&.lightTheme {
		color: var(--black);
		background: var(--c_light);
		// box-shadow: var(--boxShadowLightTheme);
	}

}

.sideMenuButton {
	height: 100%;
	width: 100%;

	display: grid;
	align-items: center;
	justify-items: center;
	justify-content: start;
}

.rightNav {
	height: 100%;
	width: 100%;

	display: grid;
	align-items: center;
	justify-items: center;
	grid-auto-flow: column;
	justify-content: end;
	grid-gap: 1.5rem;
}

