.cradle {
	height: 100%;
	width: 100%;
	min-width: 100vw;
	padding: 30px 0px;

	display: grid;
	grid-template-rows: 1fr;
	overflow-y: auto;
	align-content: start;
	justify-content: center;

	&.stretch { min-height: 100vh; }

	&.darkTheme{ 
		background: var(--c_dark); 
		color: var(--c_light);
	}
	&.lightTheme{ 
		background: var(--c_light); 
		color: var(--c_dark);
	}

}
