.loader {
  margin: 0 auto;
  text-align: center;
  width: 250px;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

.loadingQuarterCircle {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #BEB69D;
  position: relative;
  animation: spin 1.25s infinite linear;
  
  &:before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: -4px;
    top: -4px;
	}

  &.darkTheme {
  	&:before {
			border-right: 4px solid transparent;
	    border-top: 4px solid transparent;
	    border-left: 4px solid var(--c_light);
	    border-bottom: 4px solid transparent;
  	}
  }

  &.lightTheme {
  	&:before {
	    border-right: 4px solid transparent;
	    border-top: 4px solid transparent;
	    border-left: 4px solid var(--black);
	    border-bottom: 4px solid transparent;
  	}
  }
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}
