$bar-size: 7.5px;

.loader {
  margin: 0 auto;
  text-align: center;
  width: 250px;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

.loadingBars {
  text-align: center;
  
  .bar {
    height: $bar-size * 1.25;
    width: $bar-size;
    display: inline-block;
    animation: pulse 1.2s infinite ease-in-out;
    margin: 0 1.5px;

    &.darkTheme { background: var(--c_light); }
    &.lightTheme { background: var(--black); }
    
    &:nth-of-type(0n+1) { animation-delay: 0s; }
    &:nth-of-type(0n+2) { animation-delay: 0.2s; }
    &:nth-of-type(0n+3) { animation-delay: 0.4s; }
    &:nth-of-type(0n+4) { animation-delay: 0.6s; }
    &:nth-of-type(0n+5) { animation-delay: 0.8s; }
  }
}

@keyframes pulse {
  0%, 75% { transform: scale(1, 1); }
  25% { transform: scale(1, 3); }
}
