.profilePhotoButton {

	height: 100px;
	width: 100px;
	border-radius: 50px;
	border: none;
	transition: all 0.5s ease-in-out;
	
	display: grid;
	place-items: center;
	place-content: center;
	position:relative;

	// position: fixed;
	// bottom: 15px;
	// right: 15px;

	z-index: var(--aboveFloatingElementZIndex);

	&:hover {
		cursor: pointer;
		&.darkTheme { box-shadow: 0 8px 12px rgba(255,255,255,0.1); }
		&.lightTheme { box-shadow: var(--boxShadowLightTheme); }
	}

	&:focus { outline: none; }

	background: transparent;

	&.darkTheme {
		background: var(--black);
	}

	&.lightTheme {
		background: var(--c_light);
	}
}
