.contributors {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-rows: 50px 1fr;

	.top {
		width: 100%;
		height: auto;
		padding: 5px 0px;
		display: grid;
		grid-auto-flow: column;
		justify-content: space-between;
	}

	.body {
		display: grid;
		grid-gap: 1.5rem;
		align-content: space-around;
		justify-content: center;
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: column;

		@media(max-width: 800px) {
			align-content: space-around;
			justify-content: center;
			grid-template-columns: 1fr;
			grid-auto-flow: row;
		}
	}
}
