.textArea {
	max-width: 100%;
	width: 100%;
	min-height: 150px;
	height: auto;
	resize: vertical;
	border: none;

	padding: 3px 5px 7.5px 5px;
	font-size: 1.5rem;

	&.darkTheme { 
		background: var(--black); 
		color: var(--c_light);
	}
	&.lightTheme{ 
		background: var(--c_light); 
		color: var(--black);
	}
}
