.componentPortal {
	height: auto;
	min-height: 250px;
	width: 600px;
	position: relative;

	z-index: var(--modalZIndex);	
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr;
	justify-content: center;

	&.darkTheme {
		background: var(--black);
		box-shadow: var(--boxShadowDarkTheme);
		grid-template-rows: 50px 20px 1fr;	
	}

	&.lightTheme {
		background: var(--c_light);
		box-shadow: var(--boxShadowLightTheme);
	}

	&.rounded { border-radius: 5px; }

	@media(max-width: 800px) {
		width: 300px;
	}
}


.titleBar {
	height: 100%;
	width: 100%;
	padding: 10px 30px;
	text-decoration: underline;

	display: grid;
	align-items: center;

	&.darkTheme { 
		background: var(--black);
		color: var(--c_light); 
	}

	&.lightTheme { 
		background: var(--black);
		color: var(--c_light); 
	}

	&.rounded { border-radius: 5px 5px 0px 0px; }
}

.body {
	height: 100%;
	width: 100%;
	padding: 10px 30px 20px 30px;
	position: relative;

	display: grid;
	grid-template-columns: repeat(auto-fill, 150px);
	grid-gap: 2rem;
	align-content: space-around;
	justify-content: center;
	justify-items: center;
	// grid-template-columns: 1fr;
}




