.card {
	height: 250px;
	width: 400px;

	&.darkTheme {
		background: var(--black);
		box-shadow: var(--boxShadowDarkTheme);
	}

	&.lightTheme {
		background: var(--c_light);
		box-shadow: var(--boxShadowLightTheme);
	}

	&.rounded { border-radius: 5px; }
}
