.cradle {
	display: grid;
	place-items: center;
	place-content: center;
	min-height: 100vh;
	height: 100%;
	width: 100%;
}

.lightTheme { background: var(--c_light); }
.darkTheme { background: var(--c_dark); }
