.cradle {
	display: grid;
	place-items: center;
	place-content: center;
	height: auto;
	width: 100%;
	//overflow-y: scroll;

	padding: 20px 30px;

	&.stretch { min-height: 100vh; }
}

// .lightTheme { background: var(--c_lowContrastLightTheme); }
// .darkTheme { background: var(--c_dark); }
