.cradle {
	display: grid;
	place-items: center;
	place-content: center;
	height: 100%;
	width: 100%;

	&.stretch { min-height: 100vh; }
}

.lightTheme { background: var(--c_lowContrastLightTheme); }
.darkTheme { background: var(--c_dark); }
