.searchBar {
	width: 100%;
	height: 50px;
	padding: 3px 30px;

	/* Holds the search input and icon/button
	   in a row together. Depending on viewport
	   width, the search input widens up until
	   letting the icon/button have 40px of space. */
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 70px;
	align-items: center;
	justify-content: end;
	grid-gap: 0.5rem;

}


.searchField {
	height: 100%;
	width: 100%;
	display: grid;

}

.searchInput {
	// border: none;

	&.darkTheme { 
		color: var(--c_light); 
	}
	&.lightTheme { 
		color: var(--black); 
	}

	font: {
		family: var(--sansSerifStack);
		size: 1.5rem;
	}

	&:focus {
		outline: none;
	}

	&.darkTheme { 
		border: 2px solid var(--c_light); 
		border-radius: 5px;
		background: var(--c_dark);
	}
	&.lightTheme { 
		border: 2px solid var(--black); 
		border-radius: 5px;
		background: var(--c_light);
	}
}

.searchConfirmButton {
	height: 100%;
	width: 100%;

	display: grid;
	place-items: center;
}

.searchButton {
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
}
