.search {
	display: grid;
	grid-template-rows: auto;
	align-content: start;
	grid-gap: 1rem;
	// min-height: 100vh;
	// overflow-y: auto;
	padding: 20px 0px;
}

.searchBar {
	width: 100%;
	height: 50px;
	padding: 3px 30px;

	/* Holds the search input and icon/button
	   in a row together. Depending on viewport
	   width, the search input widens up until
	   letting the icon/button have 40px of space. */
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
}

// .searchForm {
// 	height: 100%;
// 	width: 100%;
// 	display: grid;

// 	&.active {
// 		&.darkTheme { 
// 			border: 2px solid var(--c_light); 
// 			border-radius: 5px;
// 		}
// 		&.lightTheme { 
// 			border: 2px solid var(--black); 
// 			border-radius: 5px;
// 		}
// 	}
// }

// .searchInput {
// 	background: none;
// 	border: none;
// 	height: 40px;
// 	padding: 5px 10px;
// 	border-radius: 3px;

// 	&.darkTheme { 
// 		color: var(--c_light); 
// 		border: 3px solid var(--c_light) 
// 	}
// 	&.lightTheme { 
// 		color: var(--black);
// 		border: 3px solid var(--black);
// 	}

// 	font: {
// 		family: var(--sansSerifStack);
// 		size: 1.8rem;
// 	}

// 	&:focus {
// 		outline: none;
// 	}
// }
