.login {
	height: auto;
	min-height: 250px;
	width: 300px;

	z-index: var(--modalZIndex);	

	&.darkTheme {
		background: var(--black);
		box-shadow: var(--boxShadowDarkTheme);
	}

	&.lightTheme {
		background: var(--c_light);
		box-shadow: var(--boxShadowLightTheme);
	}

	&.rounded { border-radius: 5px; }

	display: grid;
	grid-template-rows: 50px 1fr;	
}


.titleBar {
	height: 100%;
	width: 100%;
	padding: 10px 30px;

	display: grid;
	align-items: center;

	&.darkTheme { 
		background: var(--c_light);
		color: var(--black); 
	}

	&.lightTheme { 
		background: var(--black);
		color: var(--c_light); 
	}

	&.rounded { border-radius: 5px 5px 0px 0px; }
}

.formBody {
	height: 100%;
	width: 100%;
	padding: 10px 30px 20px 30px;

	display: grid;
	grid-gap: 1.5rem;
	align-content: space-around;
}

.bottom {
	height: auto;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-auto-flow: column;

	.right {
		display: grid;
		justify-content: end;
		justify-items: end;
		align-content: center;
		grid-gap: 0.2rem;

		a {
			display: grid;
			justify-items: end;
		}
	}
}

a {

	// width: auto;
	width: 100%;
	height: 100%;
	padding: 0;

	color: inherit;

	display: grid;
	place-items: center;

	&:link {
		text-decoration: none;

		&:active { color: none; }
	}

	&:visited {
		text-decoration: none;

		&:active { color: none; }
	}
}




