.recentSearches {
	height: 100%;
	width: 100%;
	

	display: grid;
	grid-template-rows: 50px 1fr;
	padding: 0px 30px;
}

.top {

	height: 50px;
	width: 100%;

	display: grid;
	//grid-template-rows: 30px 1fr;
	align-content: space-between;
}

.recentSearchGallery {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	padding-top: 30px;
	padding-bottom: 30px;

	display: grid;
	grid-template-columns: repeat(auto-fill, 350px);
	grid-template-rows: auto;
	justify-content: center;
	justify-items: center;
	grid-gap: 1rem;

	&.darkTheme {
		background: var(--c_dark);
	}

	&.lightTheme {
		background: var(--white);
	}


	@media(max-width: 960px) {
		grid-template-columns: repeat(auto-fill, 375px);
	}

	@media(max-width: 750px) {
		grid-template-columns: repeat(auto-fill, 100%);
	}	
}

ul {
	list-style-type: disc;
	margin: 0;
	padding: 0;
}	
