.tableItem {

	height: 65px;
	width: 100%;
	padding: 2.5px 0px;

	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 0.75fr 2fr 5fr; 
	grid-template-areas: "photo title links";
	
	&.darkTheme {
		// border-top: 1.5px solid var(--veryDarkGrey); 
		border-bottom: 1px solid var(--veryDarkGrey);
	}

	&.lightTheme {
		// border-top: 1.5px solid var(--lightGrey);
		border-bottom: 1px solid var(--lightGrey);
	}
}

@media(max-width: 725px) {
	.tableItem {
		height: 130px;
		grid-template-columns: 1fr 6fr;
		grid-template-areas: "photo title"
												 "links links";
	}

	.profileImage {
		justify-items: start;
	}

	.title {
		justify-items: start;
	}
}

.profileImage {

	height: 100%;
	width: 100%;

	display: grid;
	justify-content: center;
	align-content: center;
	grid-area: photo;

	& .imageCradle {
		height: 50px;
		width: 50px;
		background: transparent;
	}
}

.title {

	height: 100%;
	width: 100%;
	padding: 0px 5px;
	grid-area: title;

	display: grid;
	align-items: center;
	justify-items: start;
	font: {
		family: var(--sansSerifStack);
		size: 1.5rem;
	}

	& p {
		margin: none;
	}
}

.socialLinks {
	height: 100%;
	width: 100%;
	
	overflow-x: auto;

	display: grid;
	grid-area: links;
	grid-auto-flow: column;
	grid-template-columns: repeat(auto-fit, 50px);
	grid-gap: 1rem;

	& > a {
		width: auto;
		padding: 0;
	}

}
